<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Sprites/airplane_000.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{728, 1711}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_001.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{355, 720}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_002.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{1082, 1711}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_003.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{532, 720}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_004.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{1259, 1711}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_005.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{267, 1763}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_006.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1983}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_007.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{1995, 964}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_008.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{1, 720}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_009.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{905, 1711}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_010.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{709, 720}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_011.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{1436, 1711}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_012.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{1995, 787}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_013.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{178, 1983}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_014.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{1995, 1141}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/airplane_015.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{178, 720}, {175, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {175, 50}}</string>
			<key>sourceSize</key>
			<string>{175, 50}</string>
		</dict>
		<key>Sprites/city.png</key>
		<dict>
			<key>frame</key>
			<string>{{267, 787}, {974, 459}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {974, 459}}</string>
			<key>sourceSize</key>
			<string>{974, 459}</string>
		</dict>
		<key>Sprites/clouds.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 787}, {1194, 264}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1194, 264}}</string>
			<key>sourceSize</key>
			<string>{1194, 264}</string>
		</dict>
		<key>Sprites/dual-grass-animated-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1764, 1027}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1878, 1180}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1923, 394}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1374, 543}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1881, 787}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-06.png</key>
		<dict>
			<key>frame</key>
			<string>{{842, 1318}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-07.png</key>
		<dict>
			<key>frame</key>
			<string>{{1070, 1318}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-08.png</key>
		<dict>
			<key>frame</key>
			<string>{{1298, 1318}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-09.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526, 1318}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1650, 1050}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1923, 1}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-12.png</key>
		<dict>
			<key>frame</key>
			<string>{{981, 543}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-13.png</key>
		<dict>
			<key>frame</key>
			<string>{{1767, 634}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-14.png</key>
		<dict>
			<key>frame</key>
			<string>{{728, 1318}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-15.png</key>
		<dict>
			<key>frame</key>
			<string>{{956, 1318}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-16.png</key>
		<dict>
			<key>frame</key>
			<string>{{1184, 1318}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated-17.png</key>
		<dict>
			<key>frame</key>
			<string>{{1412, 1318}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/dual-grass-animated_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{1650, 657}, {391, 112}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 112}}</string>
			<key>sourceSize</key>
			<string>{391, 112}</string>
		</dict>
		<key>Sprites/gunbarrel.png</key>
		<dict>
			<key>frame</key>
			<string>{{355, 2027}, {14, 99}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {14, 99}}</string>
			<key>sourceSize</key>
			<string>{14, 99}</string>
		</dict>
		<key>Sprites/gunbase-0.png</key>
		<dict>
			<key>frame</key>
			<string>{{614, 1763}, {257, 262}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {257, 262}}</string>
			<key>sourceSize</key>
			<string>{257, 262}</string>
		</dict>
		<key>Sprites/gunbase-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{728, 772}, {257, 262}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {257, 262}}</string>
			<key>sourceSize</key>
			<string>{257, 262}</string>
		</dict>
		<key>Sprites/gunbase-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{355, 1763}, {257, 262}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {257, 262}}</string>
			<key>sourceSize</key>
			<string>{257, 262}</string>
		</dict>
		<key>Sprites/gunbase-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1650, 1750}, {257, 262}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {257, 262}}</string>
			<key>sourceSize</key>
			<string>{257, 262}</string>
		</dict>
		<key>Sprites/gunbase-4.png</key>
		<dict>
			<key>frame</key>
			<string>{{987, 921}, {257, 262}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {257, 262}}</string>
			<key>sourceSize</key>
			<string>{257, 262}</string>
		</dict>
		<key>Sprites/gunbase-5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1391, 1763}, {257, 262}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {257, 262}}</string>
			<key>sourceSize</key>
			<string>{257, 262}</string>
		</dict>
		<key>Sprites/gunbase-6.png</key>
		<dict>
			<key>frame</key>
			<string>{{987, 657}, {257, 262}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {257, 262}}</string>
			<key>sourceSize</key>
			<string>{257, 262}</string>
		</dict>
		<key>Sprites/gunbase-7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1132, 1763}, {257, 262}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {257, 262}}</string>
			<key>sourceSize</key>
			<string>{257, 262}</string>
		</dict>
		<key>Sprites/gunbase-8.png</key>
		<dict>
			<key>frame</key>
			<string>{{728, 1036}, {257, 262}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {257, 262}}</string>
			<key>sourceSize</key>
			<string>{257, 262}</string>
		</dict>
		<key>Sprites/gunbase-9.png</key>
		<dict>
			<key>frame</key>
			<string>{{873, 1763}, {257, 262}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {257, 262}}</string>
			<key>sourceSize</key>
			<string>{257, 262}</string>
		</dict>
		<key>Sprites/missile.png</key>
		<dict>
			<key>frame</key>
			<string>{{1767, 543}, {89, 126}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {89, 126}}</string>
			<key>sourceSize</key>
			<string>{89, 126}</string>
		</dict>
		<key>Sprites/paratrooper_000.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{295, 543}, {96, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 175}}</string>
			<key>sourceSize</key>
			<string>{96, 175}</string>
		</dict>
		<key>Sprites/paratrooper_001.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{393, 543}, {96, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 175}}</string>
			<key>sourceSize</key>
			<string>{96, 175}</string>
		</dict>
		<key>Sprites/paratrooper_002.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{491, 543}, {96, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 175}}</string>
			<key>sourceSize</key>
			<string>{96, 175}</string>
		</dict>
		<key>Sprites/paratrooper_003.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{589, 543}, {96, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 175}}</string>
			<key>sourceSize</key>
			<string>{96, 175}</string>
		</dict>
		<key>Sprites/paratrooper_004.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{785, 543}, {96, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 175}}</string>
			<key>sourceSize</key>
			<string>{96, 175}</string>
		</dict>
		<key>Sprites/paratrooper_005.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{1640, 1573}, {96, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 175}}</string>
			<key>sourceSize</key>
			<string>{96, 175}</string>
		</dict>
		<key>Sprites/paratrooper_006.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{1764, 1420}, {96, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 175}}</string>
			<key>sourceSize</key>
			<string>{96, 175}</string>
		</dict>
		<key>Sprites/paratrooper_007.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{1, 543}, {96, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 175}}</string>
			<key>sourceSize</key>
			<string>{96, 175}</string>
		</dict>
		<key>Sprites/paratrooper_008.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{99, 543}, {96, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 175}}</string>
			<key>sourceSize</key>
			<string>{96, 175}</string>
		</dict>
		<key>Sprites/paratrooper_009.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{197, 543}, {96, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 175}}</string>
			<key>sourceSize</key>
			<string>{96, 175}</string>
		</dict>
		<key>Sprites/paratrooper_010.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{687, 543}, {96, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 175}}</string>
			<key>sourceSize</key>
			<string>{96, 175}</string>
		</dict>
		<key>Sprites/paratrooper_011.PNG</key>
		<dict>
			<key>frame</key>
			<string>{{883, 543}, {96, 175}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {96, 175}}</string>
			<key>sourceSize</key>
			<string>{96, 175}</string>
		</dict>
		<key>Sprites/playground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1920, 540}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1920, 540}}</string>
			<key>sourceSize</key>
			<string>{1920, 540}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>Sprites.png</string>
	</dict>
</dict>
</plist>
